@font-face {
    font-family: "digital";
    src: url("./ds-digi.ttf");
}
.clock-container{
    font-family: digital;
    background-color: black;
    border-radius: 1rem;
    color: greenyellow;
    padding: 1rem;
    font-size: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
    .time{
        font-size: 5rem;
    }
}